body{
    margin: 0;
    padding: 0;
}


header{
    background-image: url(../img/slidebg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aqua;
    width: 100%;
    height: 720px;
    padding-top: 15px;
}








 



/*-------------------------------------------------- NAV ----------------------------------------------------------*/





nav{     
    min-width: 1200px;
    max-width: 1400px;
    height: 125px;
    background-color: black;
    margin: 0 auto 0 auto;
}


nav #logo{
    margin: 23px;
    float: left;
}


nav #logo img{
   height: 75px; 
}


nav ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}


nav ul li{
    color:white;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    list-style: none;
    
}


nav ul li a{
    text-decoration: line-through;
    padding: 55px 20px 55px 0;
    float: left;
}


nav #menu_principal{
    float: right;
}


#menu_principal li span{
    font-family: Montserrat,sans-serif;
    font-size: 11px;
    color: rgb(134,134,134);
    margin-right: 3px;
    margin-top: 60px;
    float: left;
}


#menu_principal li a{
    color: white;
    font-size: 14px;
    text-transform: uppercase; /*texto em letra maiuscula*/
    text-decoration: none;
    transition: 1s;
}


#menu_principal li a:hover{
    color: #e7a520;
    transition: 1s;
}



/*---------------------------------------- SECTION ---------------------------------------------------*/




.regua{
    background-image: url(../img/divider-dark.png);
    width: 100%;
    height: 500px;
    background-repeat: repeat-x;
    padding-top: 100px;
}

.icons{
    height: 120px;
    width: 345px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.icons .icon img{
    width: 115px;
}

.txt{
    height: 100px;
    width: 100%;
    
}
.txt{
    width: 850px;
    margin: 0 auto;
}

.txt h6{
    font-size: 28px;
    font-weight: 300;
    width: 80%;
    display: inline-block;
    line-height: 40px;
    font-family: 'Roboto Slab', 'serif';
    text-align: center;
    margin: 0;
    margin-left: 95px;
    margin-top: 40px;
}

.trabalhos{   /*section trabalhos*/
    height: 200px;
    width: 100%;
}

.cbclh{       /*section do cabeçalho (cbclh)*/
    min-width: 1200px;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.trabalhos .cbclh h4 span{
    color:#e7a920;
    text-transform:uppercase; /*letra maiuscula*/
    letter-spacing: 11px; /*espacamento*/
    font-weight: 300;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic; /*estilo da fonte*/
}

.trabalhos .cbclh h4 b{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 85px;
    text-transform: uppercase;
    color: black;
}

.trabalhos .cbclh p{
    color: gray;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.trabalhos .mosaico{
    min-width: 1200px;
    max-width: 1400px;
    margin: 0 auto;
}

.trabalhos .mosaico .item{
    height: 470px;
    width: 570px;
    background-image: url(../img/imagemheliponto.jpg);
    background-size: contain; /*ficar do tamanho do elemento*/
    background-position: center;
}

.trabalhos .mosaico .item:hover{
 background-size: 110%;
 background-position: center; 
 transition: 10s ease-in-out;
 
}




/*
section #esq img{
    height: 400px; 
    margin:200px;
}

section #dir img{
    height: 400px;
}
*/

/*------------------------------------------ TRABALHOS -----------------------------------------------*/



#trabalhos{
    background-color: blue;
}



