body{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../img/slidebg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aqua;
    width: 100%;
    height: 720px;
    padding-top: 15px;
}
nav{     
    min-width: 1200px;
    max-width: 1400px;
    height: 125px;
    background-color: black;
    margin: 0 auto 0 auto;
}
nav #logo{
    margin: 23px;
    float: left;
}
nav #logo img{
   height: 75px; 
}
nav ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
nav ul li{
    color:white;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    list-style: none;
    
}

nav ul li a{
    text-decoration: line-through;
    padding: 55px 20px 55px 0;
    float: left;
}
nav #menu_principal{
    float: right;
}

#menu_principal li span{
    font-family: Montserrat,sans-serif;
    font-size: 11px;
    color: rgb(134,134,134);
    margin-right: 3px;
    margin-top: 60px;
    float: left;
}

#menu_principal li a{
    color: white;
    font-size: 14px;
    text-transform: uppercase; /*texto em letra maiuscula*/
    text-decoration: none;
    transition: 1s;
}
#menu_principal li a:hover{
    color: #e7a520;
    transition: 1s;
}
section{
    background-image: url(../img/divider-dark.png);
    width: 100%;
    height: 500px;
    background-repeat: repeat-x;
}
/*------------------------------------------ TRABALHOS -----------------------------------------------*/

#trabalhos{
    background-color: blue;
}